 body {
	background-color:blanchedalmond;
    }

h1   {
	color: blue; 
	font-family:calibri; 
        text-align:center; 
        font-size:60px;
    }

img  {
	width:100%; 
	}

.newInboxClass {
	padding: 8px;
	border-bottom: 2px solid blue;
	}

.sender {
	color: blue; 
	font-family:calibri; 
        font-size:40px;
}

.subject {
	color: blue; 
	font-family:calibri; 
        font-size:30px;
}

.date {
	color: blue; 
	font-family:calibri;  
        font-size:30px;
	display: inline;
}

.body {
	color: blue; 
	font-family:calibri;  
        font-size:30px;
}
nav {
	float: left;
	max-width: 160px;
	margin: 0;
	padding: 1em;
	}

article {
	margin-left: 170px;
    	border-left: 1px solid blue;
    	padding: 1em;
    	overflow: hidden;
	}

footer {
	padding: 1em;
	text-align:center; 
	clear:left;
	color: blue;
	font-family: calibri;
}
